:root {
  --label-line-height: 35px;
  --input-border-radius: 8px;
  --input-height: 30px;
  --input-box-shadow: 0 2px 6px rgb(58, 57, 68, 0.2);
  --text-left-margin: 10px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 25px;
}
li span.icon {
  margin-left: var(--text-left-margin);
}
li span.todo-text {
  margin-left: var(--text-left-margin);
  flex: 1;
}
li span.todo-text.completed {
  text-decoration: line-through;
}
li span.todo-text:hover {
  color: blue;
}

h3 {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
}

button {
  border: none;
  min-height: var(--input-height);
  border-radius: var(--input-border-radius);
  box-shadow: var(--input-box-shadow);
  min-width: 50px;
  font-weight: bold;
}

button.dark {
  background-color: slategray;
  color: white;
}

button.light {
  background-color: white;
  color: slategray;
  font-weight: bold;
}

.icon {
  cursor: pointer;
}

.todo-header {
  border-bottom: 1px solid lightgray;
  height: 30px;
}

.todo-header span {
  margin-left: var(--text-left-margin);
}

.bulk-select-action-bar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 25px;
  background-color: slategray;
  color: white;
  text-transform: uppercase;
}

.bulk-select-action-bar.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 2s;
}
.bulk-select-action-bar.fadein {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 2s;
}

.checked-count {
  background: slateblue;
  color: white;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  right: 50px;
  bottom: 200px;
  left: 60%;
  top: 47%;
}

.bulk-select-action-bar label {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: var(--label-line-height);
}

.bulk-select-action-bar label .icon {
  line-height: var(--label-line-height);
}
.bulk-select-action-bar label .icon.fas.fa-check:hover {
  color: green;
}
.bulk-select-action-bar label .icon.fas.fa-trash:hover {
  color: red;
}

.actions-in-app {
  margin-top: 25px;
}
.actions-in-app input {
  background-size: 24px;
  padding-inline-start: 22px;
  padding-inline-end: 10px;
  box-shadow: var(--input-box-shadow);
  border: 1px solid transparent;
  border-radius: var(--input-border-radius);
  color: #585165;
  font-weight: 500;
  font-size: 15px;
  height: var(--input-height);
}
.actions-in-app button {
  margin-left: 10px;
}
