#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  margin-top: 25px;
}
li:hover {
  color: blue;
}

h3 {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
}

.actions-in-app {
  margin-top: 25px;
}
